<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{fragments/open_layout}">
<head>
    <meta charset="utf-8">
    <title>DoctorAll - Welcome</title>
</head>
<body>

<div layout:fragment="open_content">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://i.ibb.co/99qPnF6/ban2.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption">
                    <h1 class="display-2">Health Care</h1>
                    <h3>For All Family</h3>
                    <h5>The most valuable thing is your health!</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://i.ibb.co/wK5ZNJR/ban3.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://i.ibb.co/HqRCXYT/ban1.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div style="padding-left: 1%; width: 99%">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="https://i.ibb.co/wc2DczD/pat.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Patient</h5>
                        <p class="card-text">Register Account As Patient.</p>
                        <a class="btn btn-primary" th:href="@{/patient/registration}">Patient</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="http://shreejiskincare.com/page/doctor-profile-image.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Doctor</h5>
                        <p class="card-text">Register Account As Doctor.</p>
                        <a href="#" class="btn btn-primary">Doctor</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://i.ibb.co/S3hct7r/adm.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Admin</h5>
                        <p class="card-text">Register Account As Admin.</p>
                        <a href="#" class="btn btn-primary">Admin</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>