<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{fragments/open_layout}">
<head>
    <meta charset="utf-8">
    <title>DoctorAll - Welcome</title>
</head>
<header>
    <nav class="navbar navbar-expend-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <i class="fas fa-heartbeat"></i>
                DoctorAll
            </a>
        </div>
    </nav>
</header>
<body>

<div layout:fragment="open_content">
    <h1>
        OPEN!
        HELLO USER!
 </h1>
</div>

</body>
</html>