<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{fragments/patient_layout}">
<head>
    <meta charset="utf-8">
    <title>Doctor - My Patients</title>
</head>
<body>


<div layout:fragment="data_table_content">
        <tr th:each="doctor,iter : ${pageData.getItems()}">
            <td th:text="${iter.count}"></td>
            <td th:text="${doctor.getLastname()}"></td>
            <td th:text="${doctor.getFirstname()}"></td>
            <td th:text="${doctor.getMiddleName()}"></td>
            <td th:text="${doctor.getSpecialization()}"></td>
            <td th:text="${doctor.getDoctorUser().getEmail()}"></td>
            <td>
                <a th:href="@{'/patient/about_doctor/' + ${doctor.getId()}}"
                   type="button" class="btn btn-success">details</a>
            </td>
            <td>
                <a th:href="@{'/patient/delete_doctor/' + ${doctor.getId()}}"
                   type="button" class="btn btn-danger"
                   onclick="return confirm('Are you sure you want to Delete this Doctor?');">delete</a>
            </td>
        </tr>
</div>
<div layout:fragment="add_to_table_content">
    <a th:href="@{'/patient/all_doctors/'}" class="btn btn-primary">+ Add doctor</a>
</div>
<th:block layout:fragment="scripts">
    <script type="text/javascript" th:src="@{/js/pagination.js}"></script>
</th:block>
</body>
</html>