<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{fragments/patient_layout}">
<head>
    <meta charset="utf-8">
    <title>Patient - My Doctors</title>
</head>
<body>

<div layout:fragment="patient_content">
    <div class="container rounded bg-white mt-5 mb-5 p-5">
        <h1 class="pb-3">This is your doctors</h1>
        <div class="card">
            <h5 class="card-header">All My Doctors</h5>
            <div class="card-body">
                <table class="table table-sm table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Lastname</th>
                        <th>Firstname</th>
                        <th>MiddleName</th>
                        <th>Specialization</th>
                        <th>Details</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="doctor,iter : ${doctors}">
                        <td th:text="${iter.count}"></td>
                        <td th:text="${doctor.getLastname()}"></td>
                        <td th:text="${doctor.getFirstname()}"></td>
                        <td th:text="${doctor.getMiddleName()}"></td>
                        <td th:text="${doctor.getSpecialization().toString()}"></td>
                        <td>
                            <a th:href="@{'/patient/about_doctor/' + ${doctor.getId()}}"
                               type="button" class="btn btn-success">details</a>
                        </td>
                        <td>
                            <a th:href="@{'/patient/delete_doctor/' + ${doctor.getId()}}"
                               type="button" class="btn btn-danger"
                               onclick="return confirm('Are you sure you want to Delete this Doctor?');">delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <a th:href="@{'/patient/all_doctors/'}" class="btn btn-primary">Add doctor</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>