<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{fragments/doctor_layout}">
<head>
    <meta charset="utf-8">
    <title>Doctor - My Patients</title>
</head>
<body>

<div layout:fragment="doctor_content">
    <div class="container rounded bg-white mt-5 mb-5 p-5">
        <h1 class="pb-3">This is your patients</h1>
        <div class="card">
            <h5 class="card-header">All My Patients</h5>
            <div class="card-body">
                <table class="table table-sm table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Lastname</th>
                        <th>Firstname</th>
                        <th>Email</th>
                        <th>Details</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="patient,iter : ${patients}">
                        <td th:text="${iter.count}"></td>
                        <td th:text="${patient.getLastname()}"></td>
                        <td th:text="${patient.getFirstname()}"></td>
                        <td th:text="${patient.getPatientUser().getEmail()}"></td>
                        <td>
                            <a th:href="@{'/doctor/about_patient/' + ${patient.getId()}}"
                               type="button" class="btn btn-success">details</a>
                        </td>
                        <td>
                            <a th:href="@{'/doctor/delete_patient/' + ${patient.getId()}}"
                               type="button" class="btn btn-danger"
                               onclick="return confirm('Are you sure you want to Delete this Patient?');">delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <a th:href="@{'/doctor/all_patients/'}" class="btn btn-primary">Add patient</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>