<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/patient_layout}">
<head>
    <meta charset="UTF-8">
    <title>Patient - Book An Appointment</title>

    <script>
        //MAYBE CAN BE ABLE TO WORK
        /*function loadDoctors() {
            console.log('Привет от JavaScript!');
            var url = "/patient/book_appointment";
            if ($('#specialization').val() !== '') {
                url = url + '/' + $('#specialization').val();
            }
            $("#doctorsContent").load(url);
        }*/
        function getDoctorsBySpecialization() {
            var specialization = $("#specialization").val();
            $.get("/patient/get_doctors/" + specialization, function (data) {
                $("#doctorsContent").empty();
                data.forEach(function (item, i) {
                    if (i % 2 === 0) {
                        var option = "<option value = " + data[i] + ">" + data[++i] + "</option>";
                        $("#doctorsContent").append(option);
                    }
                });
            });
        };
        function getDatesByDoctor() {
            var doctor = $("#doctorsContent").val();
            $.get("/patient/get_dates/" + doctor, function (data) {
                $("#appDate").empty();
                data.forEach(function (item, i) {
                    var option = "<option value = " + item + ">" + item + "</option>";
                    $("#appDate").append(option);
                });
            });
        };
        function getTimesByDate() {
            var doctor = $("#doctorsContent").val();
            var date = $("#appDate").val();
            $.get("/patient/get_times/" + doctor + "/" + date, function (data) {
                $("#time").empty();
                data.forEach(function (item, i) {
                    var option = "<option value = " + item + ">" + item + "</option>";
                    $("#time").append(option);
                });
            });
        };
    </script>
</head>
<body>
<div layout:fragment="patient_content">
    <div class="row">
        <div class="col-12">
            <div class="card mt-2">
                <div class="card-header">
                    <h4>New Appointment</h4>
                </div>
                <div class="card-body">
                    <form action="#" th:action="@{/patient/book_appointment}" th:object="${appointmentForm}"
                          method="post">
                        <div class="form-outline form-white mb-4">
                            <label class="form-label" for="specialization">Specialization</label>
                            <select class="form-control" id="specialization" onclick="getDoctorsBySpecialization()">
                                <option th:each="type : ${T(ua.com.alevel.persistence.type.DoctorSpecialization).values()}"
                                        th:value="${T(ua.com.alevel.persistence.type.DoctorSpecialization).valueOf(type).ordinal()}"
                                        th:text="${type}">
                                </option>
                            </select>
                        </div>

                        <div class="form-outline form-white mb-4">
                            <label class="form-label" for="doctorsContent">Doctors</label>
                            <select class="form-control" id="doctorsContent" onclick="getDatesByDoctor()">
                            </select>
                        </div>

                        <div class="form-outline form-white mb-4">
                            <label class="form-label" for="appDate">Available Date</label>
                            <select class="form-control" id="appDate" onclick="getTimesByDate()"
                                    th:field="*{slot.appDate}">
                            </select>
                        </div>

                        <div class="form-outline form-white mb-4">
                            <label class="form-label" for="time">Available Time</label>
                            <select class="form-control" id="time"
                                    th:field="*{slot.startTime}">
                            </select>
                        </div>

                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group mr-2" role="group" aria-label="Second group">
                                <a th:href="@{/patient/my_appointments}" type="button" class="btn btn-primary">Back</a>
                            </div>
                            <div class="btn-group mr-2" role="group" aria-label="Third group">
                                <button type="submit" class="btn btn-primary">Book</button>
                            </div>
                        </div>
                    </form>
                </div>


                <div class="timepicker"></div>
                <th:block layout:fragment="scripts">
                    <script type="text/javascript" th:src="@{/js/tpicker.js}"></script>
                </th:block>
            </div>
        </div>
    </div>
</div>
</body>
</html>